server {
	# required fields:
    listen                              8008;					# the port to listen on
	host                                localhost;				# the host name
    root                                sites/default;			# the local files location

	# optional fields:
    server_name                         my_server;				# only for debug/displaying
    client_max_body_size                8k;						# max POST body size
    error_page 404                      error_pages/404.html;	# custom error files to be used instead of our default ones
    error_page 500                      error_pages/500.html;
    
    location / {
		# required fields:
        allowed_methods GET;			# the methods this location is allowed (GET, POST, DELETE)
        default index.html;				# the file that should be served if this location is a folder and the method is GET

		# optional fields:
		autoindex off;					# if set to 'on', the server will display a list of files in the directory
										# instead of the content. Should be ignored if not a directory
    }
    
    location /uploads {
		# required fields:
        allowed_methods POST DELETE;	# as above
		default index.html				# as above

		# optional fields:
        root upload;					# not sure about this one
    }

	location /redir {
		# required fields:
		allowed_methods GET;			# as above
		return /;						# the location or file to redirect to
	}
    
    location /cgi-bin {
		# required fields:
        upload_path uploads;			# the folder for incoming files - must already exist
        allowed_methods GET POST;		# as above
        cgi_extensions py php pl;		# the scripts we handle
    }
}

# For locations, non-redir/cgi need a default file if they are a directory to GET
# /cgi-bin is hard-coded as the script folder and needs the cgi_extensions field to be valid
